.git
.gradle
.idea
build/classes
build/generated
build/kotlin
build/resources
build/tmp
build/reports
build/test-results
docs
infra
scripts
src
*.md
*.iml
*.bat
.env*
.certs
gradlew
gradlew.bat
gradle
settings.gradle.kts
build.gradle.kts
pyproject.toml
poetry.lock
package.json
package-lock.json
.pre-commit-config.yaml
.scannerwork
